
@model Book

<div class="card card-outline-primary m-1 p-1">
    <div class="bg-faded p-1">
        <h4>
            Program Name: @Model.Title
            <span class="badge badge-pill badge-primary" style="float:right">
                <small><p>Price: $@Model.Price</p></small>
            </span>
        </h4>
        <p>Author: @Model.Author</p>

        <p>Publisher: @Model.Publisher</p>
        <p>ISBN Date: @Model.Isbn</p>
        <div class="card-text p-1">
            <p>Number of Pages: @Model.PageNumbers</p>
        </div>
    </div>

    <form id="@Model.BookId" asp-page="/Pay" method="post">
        <input type="hidden" asp-for="BookId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <span class="card-text p-1">
            @Model.Title
            <button type="submit" class="btn-success btn-sm pull-right" style="float:right">
                Add To Cart
            </button>
        </span>

    </form>
</div>


